
body {
  font-family: "Open Sans", sans-serif;
  padding-top: 54px;
  color: #2b2e3b;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 9rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Staatliches", cursive;
  font-weight: 700;
  text-transform: uppercase;
  color: #2b2e3b;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}


.subheading {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
}

.social-icons {
  text-align: center;
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
}

#sideNav {
  background: darkslategray;
  
}

.imgAlign {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

@media (min-width: 992px) {
  #sideNav {
   background: darkslategray;
    text-align: center;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 10rem;
    height: 100vh;
  
    
  }

  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}
@media (max-width: 992px) {
#sideNav{
  text-align:center;
  
}
#btnGit{
  width: 50% !important;
}

}
#bio-text{
  max-width: 800px;
}

#btnGit{
  width: 140px;
}


